<% if @cat_place.errors.any? %>
  <div class="alert alert-dismissible alert-danger">
    <button type="button" class="close" data-dismiss="alert">×</button>
    <b>Alerta !! </b><%= @cat_place.errors.count > 1 ? "Se han encontrado #{@cat_place.errors.count} errores:": "Se ha encontrado #{@cat_place.errors.count} error:" %>

      <% @cat_place.errors.full_messages.each do |message| %>
        <div><%= message %></div>
      <% end %>
  </div>
<% end %>

<%= form_for [ "admin", @cat_place ] do |f| %>
  <div class="form-group row">
    <label class="col-form-label col-lg-3 col-sm-4">Nombre Lugar</label>
    <div class="col-lg-9 col-sm-8">
      <%= f.text_field :nombre, autofocus: true, :class => 'form-control' %>
    </div>
  </div>

  <div class="pull-right">
    <%= f.submit nil, class: "btn btn-primary" %>
  </div>
  <div class="clearfix"></div>
<% end %>
