<div class="card mb-3">
  <%= image_tag "imageCap.svg", class: 'card-img-top' %>
  <div class="card-body">
    <p class="card-text text-center">
      <small class="text-muted"><%= "#{current_user.nombre} #{current_user.apellidos}" %></small>
    </p>
  </div>
</div>

<ul class="list-group">

  <% if params[:controller] == 'admin/cat_labels' %>
    <%= link_to "Catalogo de etiquetas", admin_cat_labels_path, class: 'list-group-item list-group-item-action active' %>
  <% else %>
    <%= link_to "Catalogo de etiquetas", admin_cat_labels_path, class: 'list-group-item list-group-item-action' %>
  <% end %>

  <% if params[:controller] == 'admin/cat_places' %>
    <%= link_to "Catalogo de lugares", root_path, class: 'list-group-item list-group-item-action active' %>
  <% else %>
    <%= link_to "Catalogo de lugares", root_path, class: 'list-group-item list-group-item-action' %>
  <% end %>

  <% if params[:controller] == 'admin/places' %>
    <%= link_to "Ubicaciones", root_path, class: 'list-group-item list-group-item-action active' %>
  <% else %>
    <%= link_to "Ubicaciones", root_path, class: 'list-group-item list-group-item-action' %>
  <% end %>
  
</ul>

<%= 'class=active' if params[:controller] == 'admin/categories' %>
