<div class="card mb-3">
  <%= image_tag "imageCap.svg", class: 'card-img-top' %>
  <div class="card-body">
    <p class="card-text text-center">
      <small class="text-muted"><%= "#{current_user.nombre} #{current_user.apellidos}" %></small>
    </p>
  </div>
</div>

<ul class="list-group">

  <%= link_to "Catalogo de etiquetas", admin_cat_labels_path, class: (params[:controller] == 'admin/cat_labels' ? 'list-group-item list-group-item-action active' : 'list-group-item list-group-item-action') %>

  <%= link_to "Catalogo de lugares", admin_cat_places_path, class: (params[:controller] == 'admin/cat_places' ? 'list-group-item list-group-item-action active' : 'list-group-item list-group-item-action') %>
  
  <%= link_to "Ubicaciones", admin_places_path, class: (params[:controller] == 'admin/places' ? 'list-group-item list-group-item-action active' : 'list-group-item list-group-item-action') %>
  
</ul>
