<!DOCTYPE html>
<html>
  <head>
    <title>ArcoImagen - Admin interface</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <%= render 'layouts/admin/navbar' %>
    
    <div class="container-fluid mt-2">
      <div class="row">
        <div class="col-lg-3 col-md-4 col-sm-6">
          <%= render 'layouts/admin/sidebar.html.erb' %>
        </div>
        
        <main role="main" class="col-lg-9 col-md-8 col-sm-6">
          <div class="card border-danger">
            <div class="card-header bg-red text-white">
              <span class="pull-left"><%= controller_name %></span>
              <span class="pull-right">#<%= action_name %></span>
              <div class="clearfix"></div>
            </div>
            <div class="card-body">
              <%= yield %>
            </div>
          </div>
        </main>
      </div>
    </div>
  
  <!-- Loading google maps -->
  <script type="text/javascript">
    if(window.google) {
      if( "<%= controller_name %>" == 'places' 
          && ( "<%= action_name %>" == 'new' || "<%= action_name %>" == 'edit' ) 
        ){
        initMap();
      }
    } else {

      if( "<%= controller_name %>" == 'places' 
          && ( "<%= action_name %>" == 'new' || "<%= action_name %>" == 'edit' ) 
        ){
        $.ajax("https://maps.googleapis.com/maps/api/js?key=<%= ENV['GOOGLE_MAPS_API_KEY'] %>&libraries=places&callback=initMap", {
          crossDomain: true,
          dataType: 'script'
        });

      }
    }  
  </script>
  
  </body>
</html>
