<!DOCTYPE html>
<html>
  <head>
    <title>ArcoImagen</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <%= render 'layouts/basic/top_social' %>

    <%= render 'layouts/basic/menu_bar' %>
      
      <%= yield %>

    <%= render 'layouts/basic/footer' %>

    <script async defer src="https://maps.googleapis.com/maps/api/js?key=<%= ENV['GOOGLE_MAPS_API_KEY'] %>&callback=welcomeMap"></script>
    
  </body>
</html>
